<footer>
  <div class="nav justify-content-center bg-dark">
    <div class="container">
    <p
     class="text-white">All articles belong to <a href='http://www.theverge.com/tech' target="_blank">The Verge</a>
      <a class="text-white right" href="/articles-json">Article JSON</a>
    </p
    ></div>
  </div>
</footer>