  <nav>
    <div class="navbar navbar-expand-lg justify-content-end navbar-dark bg-dark">
      <a href="/" class="brand-logo center">News Scrape</a>
      <ul class="right" id="nav-mobile">
        <li><a href="/scrape">Scrape</a></li>
      </ul>
    </div>
  </nav>